<app-layout>
  <header header>
    <app-header [titulo]="titulo" [descripcion]="descripcion" (navegar)="volver()"></app-header>
  </header>

  <main body>
    <form (submit)="enviarCorreo()" [formGroup]="form" class="restablecer-form">
      <mat-form-field appearance="outline">
        <mat-icon matIconPrefix>mail</mat-icon>
        <mat-label>Correo Electrónico</mat-label>

        <input matInput formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">Correo no válido</mat-error>
      </mat-form-field>
      <button type="submit" class="boton-auth" [disabled]="form.invalid">Enviar enlace de recuperación</button>


    </form>
  </main>
</app-layout>