<mat-form-field [appearance]="'outline'" class="full-width">
    <mat-label>{{ label }}</mat-label>
    <mat-icon matIconPrefix>lock</mat-icon>
    <input matInput
           [type]="hidePassword ? 'password' : 'text'"
           [formControl]="innerControl"
           [placeholder]="placeholder"
           [attr.autocomplete]="autocomplete"
           (blur)="onBlur()"
           [required]="parentErrors?.required">
    <button mat-icon-button matSuffix 
            (click)="toggleVisibility()" 
            type="button"
            [attr.aria-label]="'Mostrar contraseña'" 
            [attr.aria-pressed]="!hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="showError">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>