<mat-card class="login-card">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Iniciar Sesión</button>
      <div class="register-link">
        <a routerLink="/register">¿No tienes una cuenta? Regístrate aquí</a>
      </div>
    </form>
  </mat-card>
  