.login-card {
    max-width: 400px;
    margin: 100px aut o;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .register-link {
    margin-top: 15px;
  }
  
  h2{
    color: black;
  }