<mat-card class="register-card">
    <h2>Registro</h2>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrarse</button>
    </form>
  </mat-card>
  