<form [formGroup]="form" (ngSubmit)="registrar()" class="register-form">
  <h1>Crear cuenta</h1>

  <mat-form-field appearance="outline">
    <mat-icon matIconPrefix>badge</mat-icon>

    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
    <mat-error *ngIf="form.get('nombre')?.hasError('required')">
      El nombre es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matIconPrefix>badge</mat-icon>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido" required>
    <mat-error *ngIf="form.get('apellido')?.hasError('required')">
      El apellido es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matIconPrefix>mail</mat-icon>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      El email es requerido
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Ingresa un email válido
    </mat-error>
  </mat-form-field>

  <app-password-input
  formControlName="password"
  [errorMessages]="{
    required: 'La contraseña es obligatoria',
    strongPassword: 'Debe tener al menos una mayúscula y un número'
  }"
  label="Contraseña"
  autocomplete="new-password">
</app-password-input>

  <!-- <mat-error *ngIf="form.get('password')?.hasError('strongPassword')">
    {{ form.get('password')?.getError('strongPassword').message }}
  </mat-error> -->
  <button class="boton-auth" [disabled]="form.invalid" type="submit">Registrarse</button>
</form>